

.compareBarChart{
display: flex;
justify-content: space-between;
}

.selected{
    background-color: blueviolet;
    color: white;
}
.unSelected{
    opacity: 0.5;
    /* background-color: gray; */
    /* color: white; */
}
ul{
    /* background-color: ; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    list-style: none;
}